footer
	.container
		.col-xs-12.col-sm-6.text-left.
			© 2017 АК "Ревизоръ"
		.col-xs-12.col-sm-6.text-right
			| Абая 106
script(src="/static/dist/vendor/jquery/jquery.min.js")
script(src="/static/dist/vendor/bootstrap/bootstrap.min.js")
// moment js
script(src="/static/dist/vendor/bootstrap-select/bootstrap-select.min.js")
// slick slider plugin
script(src="/static/dist/vendor/slick/slick.min.js")
// yandex map
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")
script(src="/static/dist/js/all.min.js")