header
	.line-left
	.line-right
	.container
		.hidden-xs.hidden-sm.header-line
		.row
			.col-md-6.col-xs-12.text-center
				a(href="/")
					img.logo.img-responsive(src="/static/dist/img/logo.png", alt="logo")
			.col-md-6.col-xs-12.text-center
				ul.menu
					- for (var i = 0; i < 4; i++) 
						li
							a(href="#")
								| Пункт меню 
