<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width", id="viewport-content")
		title Ревизоръ
		link(rel="stylesheet", href="/static/dist/vendor/bootstrap/bootstrap.min.css")
		link(rel="stylesheet", href="/static/dist/vendor/bootstrap-select/bootstrap-select.min.css")
		link(rel="stylesheet", href="//use.fontawesome.com/fc28cc8f34.css")
		link(rel="stylesheet", href="/static/dist/vendor/jquery/dropzone/dropzone.css")
		// slick slider
		link(rel="stylesheet", href="/static/dist/vendor/slick/slick.css")
		link(rel="stylesheet", href="/static/dist/vendor/jquery/jquery-ui.min.css")
		link(rel="stylesheet", href="/static/dist/vendor/slick/slick-theme.css")
		// fancybox
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css")
		link(rel="stylesheet", href="/static/dist/css/style.css")
	