extends _layout.jade

block content
	.slider-wrapper
		.container.slider
			- for (var i = 0; i < 3; i++) 
				.col-xs-12.slider-item
					img(src="/static/dist/img/banner.gif", alt="")
	.services-wrapper
		.container.services
			- for (var i = 0; i < 8; i++) 
				.col-xs-12.col-sm-6.col-md-3
					.service-item
						img(src="/static/dist/img/service-icons/arrow-up.png", alt="")
						.text.text-center
							| Описание услуги
	.license-line
		.container
			i.fa.fa-file-text 
			|   ГОСУДАРСТВЕННАЯ ЛИЦЕНЗИЯ НА ЗАНЯТИЕ АУДИТОРСКОЙ ДЕЯТЕЛЬНОСТЬЮ № 0000000 МФЮ, ВЫДАНА МИНИСТЕРСТВОМ ФИНАНСОВ 27.12.2066 Г.