// Fonts mixin
font_generate(font_folder, font_name, font_family)
  prefix = "../fonts/" + font_folder + '/' + font_name

  @font-face {
      font-family font_family
      src url(prefix + '.eot')
      src url(prefix + '.eot?#iefix') format('embedded-opentype'),
           url(prefix + '.woff') format('woff'),
           url(prefix + '.ttf') format('truetype'),
           url(prefix + '.svg#TornadoC') format('svg')
      font-weight normal
      font-style normal
  }

font_generate("ProximaNova", "ProximaNova-Bold", "ProximaNova-Bold")
font_generate("ProximaNova", "ProximaNova-Regular", "ProximaNova-Regular")