@import '_config'
@import '_fonts'

body
	header
		position relative
		min-height 122px
		border-bottom 1px solid #5757da
		.logo
			position relative
			z-index 4
			margin 40px auto 10px auto
			@media md_lg
				margin 40px 0px 10px 0
			padding-bottom 20px
			max-width 150px
		.container	
			position relative
			z-index 2
			background #fff
		.line-left
			left 0px
			top 21px
			position absolute
			width 50%
			height 1px
			z-index 1
			border-bottom 1px solid black
			display none
			@media md_lg
				display block
		.line-right
			display none
			right 0px
			top 82px
			position absolute
			border-bottom 1.4px solid #C0C0C0
			height 1px
			z-index 1
			width 50%
			@media md_lg
				display block
		.header-line	
			top 20px
			left 0px
			width 100%
			height 102px
			position absolute
			z-index 3
			background-size 100%
			background-repeat no-repeat
			background-image url('/static/dist/img/header-line.png')			
		ul.menu
			text-align center
			@media md_lg
				text-align left
			position relative
			z-index 4
			padding 42px 0
			margin-bottom 0px
			li 
				font-size 18px
				list-style none
				@media xs
					width 150px
					margin 0 auto
					border-bottom 1px solid black
					padding 10px 0px
				@media sm
					width 150px
					margin 0 auto
					border-bottom 1px solid black
					padding 10px 0px
				@media md_lg
					display inline
					margin-left 20px
				list-style none
				a 
					transition .3s
					color black
				&:first-child
					@media xs
						border-top 1px solid black
					@media sm
						border-top 1px solid black
	main.main_content
		.slider-wrapper
			background url('/static/dist/img/background.png')
			background-color #000
			background-size 100%
			background-position top
			.slider
				padding 20px 0
		.services-wrapper
			border-bottom 1px solid #5757da
			border-top 	 1px solid #5757da
			background-color #f4f3f4
			.services
				padding 20px 10px
				.service-item
					position relative
					padding 30px
					max-width 100%
					margin 20px 10px
					transition .7s
					border 1px solid #000
					margin 20px auto
					max-width 200px
					@media md_lg
						border 1px solid #f4f3f4
						border-radius 10px
						&:hover
							border 1px solid #000
					.service-item-icon
						background #f4f3f4
						position absolute
						left: -30px;
						top: -30px;
						padding: 5px;
						width: 60px;
						height: 60px;
						img 
							margin-top: 50%;
							transform: translateY(-50%);
							max-width 100%
    	.license-line
			min-height 90px
			border-top 1px solid #e2e2e2
			border-bottom 8px solid #e2e2e2
			background #fff
			padding 20px 0px
			.fa
				padding 0px 10px
	footer
		background #e2e2e2
		padding 15px 0px
		.footer-left
			text-align center
			margin 10px -1
			@media md_lg
				text-align left
		.footer-right
			margin 10px 0
			text-align center
			@media md_lg
				text-align right
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 20px;
	margin-bottom: 40px;
}