body 
	min-width 1200px !important
.head{
	height: 100px;
	padding: 30px;
}
.logo img{
	max-height: 55px;
	margin-top: 20px;
	margin-left: 60px;
}
.h-adress{
	margin-top: 20px;
}
.left-panel{
	padding-right: 10px !important;
	padding-left: 0px;
	padding-top: 10px;
	margin-top:-46px;
}
.left-panel .top{
	padding: 10px;
}
.left-panel .bottom{
	padding: 10px;
}
.menu{
	min-height: 150px;
}
.left-panel .time{
	padding: 10px;
}
.center{
	background-size: contain;
	background: url('')top;
	background-repeat: no-repeat;
	min-height: 500px;
	padding-top: 40px; 
	padding: 20px;
	padding-bottom: 60px;
		
}
.center .line-left{
	max-height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.center .line-top{
	max-width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.zero{
	padding: 0 !important;
	margin: 0 !important;
}
.time{
	font-size: 20px;
}
.time #time{
	margin-top: 20px; 
}
.content{
	width:90%;
	position: relative;
	z-index: 2;
	margin-left: 20px;
	margin-right: auto; 
}
.form-group{
	padding: 25px 0; 
}
.control-label{
	padding: 0;
}
.btn{
	margin-top: 25px;
}
.menu{
	padding-left: 15px;
}
.h2 a{
	color: black;
	text-decoration: underline;
}
.w-vision{
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.enter {
    width: 400px;
    text-align: center;
    margin-left: auto;
    padding: 30px;
    margin-top: 10%;
    margin-right: auto;
    background: #f7f7f7;
    border: 3px inset #c6c7c7;
}
.enter .form-group{
	padding: 5px;
}
.enter .btn{
	margin-top: 3px;
}
.enter img{
	padding-bottom: 10px;
}
.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #444444;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.tftable tr {background-color: #ffffff;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #3e3e3e;}
.tftable tr:hover {background-color: #dadada;}